nav.navbar {
  width: 100vw;
  min-height: 75px;
  height: 75px;
  background-color: #153529 !important;
  font-family: 'Poppins', sans-serif;
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .navbar-text {
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  height: 75px;
}

.navbar .nav-link.disabled {
  opacity: 1;
  color: #fff !important;
}

.navbar .bi {
  margin-right: 6px;
  font-size: 1.2em;
}

/* Asegura que los iconos estén alineados arriba si es necesario */
.navbar .bi {
  vertical-align: top;
}